.container {
  margin-right: 100px;
  margin-left: 100px;
}

.titleWrapper {
  display: flex;
  justify-content: space-between;
  img {
    margin-top: 100px;
    height: 400px;
  }
}

.title {
  margin-top: 50px;
  width: 530px;
  h1 {
    margin: 0;
    padding: 0;
    font-size: 150px;
    font-weight: bolder;
  }
}

.subtitle {
  font-size: 51px;
  font-weight: lighter;
  margin-bottom: 100px;
  span {
    border-bottom: 3px black solid;
  }
}

.startRightNow {
  margin-bottom: 20px;
  h2 {
    margin: 0;
    padding: 0;
    font-size: 70px;
    font-weight: bold;
    text-align: center;
  }
}

.description {
  display: flex;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 100px;
  img {
    width: 300px;
    height: 450px;
  }
}

.descriptionItem {
  margin-left: 100px;
  p {
    margin: 0 0 5px 0;
    padding: 0;
    font-size: 40px;
    font-weight: lighter;
  }
  span {
    display: flex;
    justify-content: right;
    font-size: 40px;
    font-weight: normal;
  }
}

.formBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  h2 {
    padding: 0;
    margin: 0;
    font-size: 70px;
    font-weight: bold;
    text-align: center;
  }
}

.form {
  width: 650px;
  height: 570px;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #1B1A17;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.19) 0 10px 20px, rgba(0, 0, 0, 0.23) 0 6px 6px;
  color: #ffffff;
}

.fieldWithInput {
  display: flex;
  justify-content: space-between;
  .fieldWithInputItem {
    display: flex;
    flex-direction: column;
  }
}

label {
  font-size: 25px;
  font-weight: lighter;
}

input {
  width: 250px;
  height: 40px;
  font-size: 20px;
  outline: none;
  border: none;
  padding: 5px;
  border-radius: 15px;
}

.textareaMessage {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  textarea {
    resize: none;
    outline: none;
    border: none;
    padding: 5px;
    border-radius: 15px;
    font-size: 20px;
    line-height: 30px;
  }
}

.buttonSubmit {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.formContainer {
  margin: 30px;
}

@media (max-width: 1284px) {
  .titleWrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .title {
    width: 680px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .subtitle {
    text-align: center;
    margin-bottom: 0;
  }

  .startRightNow {
    margin-top: 50px;
  }

  .description {
    margin-right: 0;
    margin-left: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }

  .descriptionItem {
    margin-left: 0;
    p {
      text-align: center;
    }
  }
}

@media (max-width: 730px) {
  .container {
    margin-right: 50px;
    margin-left: 50px;
  }

  .title {
    h1 {
      font-size: 85px;
      text-align: center;
    }
  }

  .subtitle {
    font-size: 41px;
    margin-bottom: 0;
    span {
      border-bottom: 1px black solid;
    }
  }
}

@media (max-width: 700px) {
  .form {
    width: 550px;
    height: 570px;
  }

  label {
    font-size: 20px;
  }

  input {
    width: 200px;
    height: 40px;
    font-size: 18px;
  }

  .textareaMessage {
    textarea {
      font-size: 18px;
    }
  }
}

@media (max-width: 600px) {
  .container {
    margin-right: 20px;
    margin-left: 20px;
  }

  .titleWrapper {
    img {
      margin-top: 50px;
      height: 250px;
      width: 330px;
    }
  }

  .title {
    width: 400px;
  }

  .startRightNow {
    margin-bottom: 20px;
    h2 {
      font-size: 50px;
    }
  }

  .description {
    display: flex;
    img {
      width: 160px;
      height: 250px;
    }
  }

  .descriptionItem {
    p {
      font-size: 25px;
    }
    span {
      font-size: 25px;
    }
  }

  .formBlock {
    h2 {
      font-size: 50px;
    }
  }

  .form {
    width: 400px;
    height: 600px;
  }

  label {
    font-size: 18px;
  }

  input {
    width: 300px;
    height: 40px;
    font-size: 16px;
  }

  .fieldWithInput {
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
  }

  .textareaMessage {
    textarea {
      font-size: 16px;
    }
  }

  .formContainer {
    margin: 10px;
  }
}

@media (max-width: 400px) {
  .titleWrapper {
    img {
      height: 220px;
      width: 290px;
    }
  }

  .title {
    width: 350px;
    h1 {
      font-size: 75px;
    }
  }

  .subtitle {
    font-size: 31px;
    margin-bottom: 0;
  }

  .startRightNow {
    h2 {
      font-size: 30px;
    }
  }

  .descriptionItem {
    p {
      font-size: 18px;
    }
    span {
      font-size: 18px;
    }
  }

  .formBlock {
    h2 {
      font-size: 30px;
    }
  }

  .form {
    width: 350px;
    height: 600px;
  }
}