.container {
  display: flex;
  justify-content: space-between;
}

.header {
  width: 100%;
  ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  a {
    text-decoration: none;
    color: #1B1A17;
  }
}

.logoItem {
  width: 60px;
  height: 60px;
  margin-top: 10px;
  margin-left: 80px;
}

.menu {
  display: flex;
  align-items: center;
  font-size: 22px;
  line-height: 28px;
  gap: 30px;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  left: -100%;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 10;
  -webkit-transition: left 0.5s;
  transition: left 0.5s;
}

.mobileBtn {
  display: block;
  position: absolute;
  right: 80px;
  margin-top: 15px;
  cursor: pointer;
  z-index: 10;
}

.active {
  left: 0;
}

.lock {
  overflow: hidden;
}

.links {
  font-size: 40px;
  text-transform: uppercase;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
  &:hover {
    color: #fff;
    text-shadow: 0 0 5px #000000,
    0 0 15px #000000,
    0 0 40px #000000,
    0 0 90px #000000;
  }
}

@media (max-width: 700px) {
  .logoItem {
    margin-left: 15px;
  }

  .mobileBtn {
    right: 15px;
  }
}