.checkRadius {
  border: 2px solid #000000;
  border-radius: 7px;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.checkColor {
  color: #00b200;
}