.inputWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  input {
    width: 400px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 20px;
    border: none;
    outline: none;
    background-color: #eaeaea;
    padding: 23px;
    font-size: 16px;
    box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0, rgba(60, 64, 67, 0.15) 0 1px 3px 1px;
  }
}